<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>The Super Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <div id="app">
        <div class="holder headline">
            Super Travel App
        </div>
        <div class="holder dest">
            <label for="dest">Destination:</label>
            <input type="text" id="destInput" placeholder="Example: Cairo, Egypt">
        </div>
        <div class="holder departure">
            <label for="dep">Departure:</label>
            <input type="text" id="depInput" placeholder="Example: New York, NY"></input>

        </div>
        <div class="button">
            <button id="Submit" type="submit"> Let's Go! </button>
        </div>
        <div class="holder entry">
            <div class="title">Most Recent Entry</div>
            <div id="entryHolder">
                <div id="date"></div>
                <div id="temp"></div>
                <div id="content"></div>
            </div>
        </div>
    </div>
    <script src="../js/app.js" type="text/javascript"></script>

</body>

</html>