<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>The Super Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">

</head>

<body>
    <section>
        <div class="header">
            <h1>Super Travel App</h1>
        </div>
    </section>
    <section class="app">
        <form class="form">
            <div class="field">
                <label for="dep">Departure:</label>
                <input type="text" id="depInput" placeholder="Example: New York, NY">
            </div>
            <div class="field">
                <label for="dest">Destination:</label>
                <input type="text" id="destInput" placeholder="Example: Cairo, Egypt">
            </div>
            <div class="field">
                <label for="date">Date:</label>
                <input type="date" id="date"></input>
            </div>
            <div class="field">
                <button id="submit" type="submit"> Let's Go! </button>
            </div>
        </form>


    </section>
    <section class="results" id="tripResults hidden">
        <article id="newTrip" class="trip hidden">
            <p class="tripHeader">Your trip to:</p>
            <h3 class="tripDestination" id="tripDestination"></h3>
            <p class="date" id="date"></p>
            <img id="destImg" src="" alt="Destination Image">
            <aside id="weather">
                <p id="tripWeather"></p>


            </aside>


        </article>

    </section>

    <footer>App by Joshua Webster</footer>
</body>

</html>