<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>The Super Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">

</head>

<body>
    <div class="header">
        <h1>Super Travel App</h1>
    </div>
    <div id="app">

        <div class="holder departure">
            <label for="dep">Departure</label>
            <input type="text" id="depInput" placeholder="Example: New York, NY"></input>

        </div>
        <div class="holder dest">
            <label for="dest">Destination</label>
            <input type="text" id="destInput" placeholder="Example: Cairo, Egypt"></input>
        </div>

        <div class="date">
            <label for="date">Date</label>
            <input type="date" id="date"></input>
        </div>
        <div class="button">
            <button id="submit" type="submit"> Let's Go! </button>

        </div>
    </div>
    <section id="resPlaceholder">
        <div>
            test
        </div>
        <div>
            test
        </div>
        <div>
            test
        </div>
        <div>
            test
        </div>
    </section>
</body>

</html>