.header {
    background-color: black;
    color: rgb(148, 129, 129);
    padding: 1rem 1rem 1rem 1rem;
    font-weight: bold;
    display: grid;
    top: 0;
    height: 5rem;
    width: 100%;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
    opacity: .75;
    margin-bottom: 3rem;
}