body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
    font-size: 2.2rem;
}

@media(max-width: 768px) {
    body {
        background-color: rgba(231, 231, 231, 0.993);
    }
}

@media (min-width: 768px) {
    body {
        background-image: url("/SRC/Client/media/sunrise-background.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}