body {
    background-image: url("/SRC/Client/media/sunrise-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.entry {
    background: rgba(179, 203, 255, 0.623);
    color: black;
}

.headline {
    font-size: 48px;
}


/*  Basic Styling To Override Default For Basic HTML Elements */

h1 {
    font-size: 36px;
}