#resPlaceholder {
    display: grid;
    padding-top: 10rem;
    padding-left: 10rem;
    margin: auto;
    color: white;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: auto, auto, auto, auto;
}